body {
    background-color:#f7f9fc;
    margin: 20px;
    justify-content: center;
}
/* NAVBAR */
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:16px;
}
.brand{
    display:flex;
    align-items:center;
    gap:12px;
}
.logo{
    width:46px;
    height:46px;
    border-radius:10px;
    background-color:#007bff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-weight:700;
    box-shadow:0 6px 18px rgba(30,136,229,0.12);
    font-size:18px;
}
.brand h1{
    margin:0;
    font-size:18px;
    letter-spacing:0.6px;
}
.nav-links{
    display:flex;
    gap:22px;
    list-style:none;
    padding:0;
    margin:0;
    align-items:center;
}
.nav-links a{
    text-decoration:none;
    color:#777777;
    font-weight:600;
    font-size:14px;
    padding:8px 10px;
    border-radius:8px;
}
.logo-name {
    font-size:12px;
    color:#6b7280;
    margin-top:4px
}
.nav-links a:hover{
    color:#007bff;
    background:rgba(30,136,229,0.06)
}
.btn-contact{
    background:#1e88e5;
    color:#fff;
    padding:10px 16px;
    border-radius:10px;
    border:0;
    font-weight:700;
    box-shadow:0 6px 18px rgba(30,136,229,0.12);
}
.btn-contact:hover {
    background-color: #007bff;
}
/* HERO */
.hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:28px;
    background-color: lightgray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding:36px;
    height: 500px;
    box-shadow: 0 12px 40px rgba(12,40,80,0.06);
    overflow:hidden;
}
.hero-left{
    padding:12px 8px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:18px;
}
.hero-left h2{
    margin:0;
    font-size:34px;
    line-height:1.05;
    color:#081225;
    font-weight:700;
}
.hero-left p.lead{
    margin:0;
    color: #374151;
    font-size:16px;
    line-height:1.6;
}
.left-side{
    display:flex;
    gap:12px;
    align-items:center;
    margin-top:6px;
}
.btn-primary{
    background-color:#007bff;
    color: #fff;
    padding:12px 18px;
    border-radius:10px;
    border:0;
    font-weight:700;
    text-decoration:none;
    display:inline-block;
    box-shadow:0 10px 30px rgba(102,176,255,0.18);
}
.btn-primary:hover {
    border: 1px solid #fff;
    color: #6b7280;
    background: transparent;
}
.btn-2 {
    padding:12px 16px;
    border-radius:10px;
    border:1px solid #e6eef8;
    background:transparent;
    color:#6b7280;
    text-decoration:none;
    font-weight:700;
    transition: 0.3s;
}
.btn-2:hover {
    color: #fff;
    background-color: #007bff;
}
.main{
    display:flex;
    gap:18px;
    margin-top:16px;
}
.mains{
    background:rgba(14,45,90,0.03);
    padding:10px 14px;
    border-radius:10px;
    min-width:110px;
    text-align:left;
    transform:scale(1);
    transition:transform .7s ease;
}
.mains:hover {
    transform: scale(1.13);
    background:rgba(14,45,90,0.10);
}
.mains h3{
    margin:0;
    font-size:20px;
    color: #007bff;
}
.mains p{
    margin:6px 0 0;
    color: #6b7280;
    font-size:13px}

.hero-right{
    position:relative;
    border-radius:10px;
    overflow:hidden;
    min-height:360px;
    display:block;
    box-shadow: rgba(255,255,255,0.02);
}
.hero-right img{
    width:100%;
    height:100vh;
    object-fit: cover;
    display:block;
    transform:scale(1);
    transition:transform .7s ease;
}
.hero-right:hover img{ 
    transform: scale(1.03);
}

/* EDUCATION */
.education{
    padding:28px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color:#fff;
    display:flex;
    gap:22px;
    flex-direction:column;
    box-shadow:0 8px 30px rgba(8,18,32,0.04);
}
.section-title{
    margin:0;
    font-size:26px;
    color:#007bff;
    font-weight:700;
    align-items: center;
    justify-content: center;
    display: flex;
}
.edu-grid{
    display:flex;
    gap:18px;
}
.edu-column{
    width: 100%;
    min-width:260px;
    display:flex;
    flex-direction:column;
    gap:18px
}
.edu-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
    margin-bottom: 25px;
    transform:scale(1);
    transition:transform .7s ease;
}
.edu-card:hover .edu-img {
    transform: scale(0.9);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.3);
}
.edu-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.3);
}
.edu-text{
    width: 70%;
}
.edu-card img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
}

/* Skills */
.my-skills{
    max-width:100%;
    border-radius: 12px;
    margin:auto;
    text-align:center;
    padding:40px 60px;
    background: #f7f9fc;
    margin-top: 0px;
    border-top: 1px solid #fff;
    margin-left: -70px;
}
.my-skills h2 {
    color: #007bff;
    font-size: 32px;
}
.my-skills span {
    margin: 0px 62px;
    color: #000;
    display: flex;
}
.my-skills p {
    color: #000;
}
.main-skills{
    display:flex;
    gap:40px;
    margin-top:25px;
}
.skills-col{
    width: 50%;
    margin-left: 62px;
}
.skills-col-1 {
    width: 50%;
    margin-left: 10px;
    margin-top: 1px;
    margin-right: -70px;
}
.skill{
    margin:10px 0;
    text-align:left;
}
.skill-name {
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:6px;
    width: 90%;
}
.skill-bar{
    width:90%;
    height:10px;
    background: #fff;
    border-radius:50px;
    margin-top: -10px;    
}
.skill-fill{
    height:100%;
    background: #59a5f7;
    border-radius:50px;
    transition:0.8s ease;
}

/* ABOUT */
.about{
    padding:28px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display:flex;
    gap:26px;
    align-items:center;
    background:lightgray;
    box-shadow:0 8px 30px rgba(8,18,32,0.04);
}
.about-text{
    width: 100%;
    color: #007bff;
}
.about-text h3{
    margin:0 0 10px 0;
    font-size:22px
}
.about-text p{
    color:#000;
    line-height:1.6
}
.about-img{
    width:350px;
}
.about-img img{
    width:100%;
    border-radius:12px;
    object-fit:cover
}

/* CONTACT */
.contact-section{
    padding:28px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color:#fff;
    box-shadow:0 8px 30px rgba(8,18,32,0.04);
}
.contact-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap
}
.contact-left,.contact-right{
    width: 49%;
    min-width:220px
}
.contact-btn {
    margin-top:16px;
    text-align:center
}
.section-title {
    margin-bottom:18px;
}
.input-box{
    display:flex;
    flex-direction:column;
    margin-bottom:12px;
}
.input-box p{
    font-size:13px;
    color:#334155;
    margin-bottom:6px;
}
.input-box input{
    padding:10px;
    border-radius:8px;
    border:1px solid #e6eef8;
    background:transparent;
    font-size:14px;
    outline:none;
}
.input-box-msg{
    display:flex;
    flex-direction:column;
    margin-bottom:12px;
    width: 99.5%;
}
.input-box-msg p{
    font-size:13px;
    color:#334155;
    margin-bottom:6px;
}
.input-box-msg input{
    padding:10px;
    border-radius:8px;
    border:1px solid #e6eef8;
    font-size:14px;
    outline:none;
}
.contact-btn-hero{
    background:#1e88e5;
    color:#fff;
    padding:12px 18px;
    border-radius:8px;
    border:0;
    font-weight:700
}
.contact-btn-hero:hover {
    background-color: #007bff;
}
/* FOOTER */
.footer{
    padding:22px;
    text-align:center;
    color:#6b7280;
    font-size:14px;
}
/* RESPONSIVE */
@media (max-width: 980px){
.hero{
    grid-template-columns:1fr;
    padding:24px
}
.hero-right{
    min-height:260px
}
.navbar{
    flex-direction:column;
    align-items:flex-start;
    gap:12px
}
}
@media (max-width:600px){
body{
    padding:14px
}
.brand h1{
    font-size:16px
}
.hero-left h2{
    font-size:24px
}
.about{
    flex-direction:column
}
.about-img{
    width:100%
}
}